.main {
  display: grid;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;

  aspect-ratio: 4 / 3;
  margin: auto;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;

  h1 {
    width: 100%;
  }
}